#columns in each table are reffered to as a series and each table is a dataframe
#dataframes are 2 dimensional data structures with rows and columns like excel 
#series are 1 dimensional data structures like lists or tuples
#after initialization using the pandas library, we can apply several functions on them

In [15]:
import pandas as pd

In [16]:
df = pd.DataFrame({ "Name" : ["Ama", "Nana", "Mimi", "Jenny" , "NAS" , "Alex"],
                     "Sex" : ["Female","Male", "Female", "Female", "Female","Female"],
                     "Age" : [21, 19, 19, 23, 22, 20]
    
})

In [17]:
df

    Name     Sex  Age
0    Ama  Female   21
1   Nana    Male   19
2   Mimi  Female   19
3  Jenny  Female   23
4    NAS  Female   22
5   Alex  Female   20

In [18]:
#columns can be selected like this
#the following output will be a series
#multiple columns can be selected at once too
df["Name"]

0      Ama
1     Nana
2     Mimi
3    Jenny
4      NAS
5     Alex
Name: Name, dtype: object