In [10]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

Use of matplotlib helps us to visualize our data

In [8]:

sample = pd.DataFrame({ "Name" : ["Ama", "Nana", "Mimi", "Jenny" , "NAS" , "Alex"],
                     "Sex" : ["Female","Male", "Female", "Female", "Female","Female"],
                     "Age" : [21, 19, 19, 23, 22, 20]  
})
sample

    Name     Sex  Age
0    Ama  Female   21
1   Nana    Male   19
2   Mimi  Female   19
3  Jenny  Female   23
4    NAS  Female   22
5   Alex  Female   20

In [ ]:
sample.plot

In [9]:
plt.show()