In [22]:
import pandas as pd

In [23]:
movies = pd.read_csv("C:\\Users\\lenovo\\Desktop\\BUILD\\Machine Learning\\Pandas\\movies.csv",low_memory= False)

In [24]:
#selecting subsets of a dataframe

movies["title"]

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
45461                         Subdue
45462            Century of Birthing
45463                       Betrayal
45464               Satan Triumphant
45465                       Queerama
Name: title, Length: 45466, dtype: object

In [25]:
#the selected column is a series, we can check using
type(movies["title"])

pandas.core.series.Series

In [ ]:
#we can make a DataFrame subset out of the original too
#output dataset is just a dataframe(2 columns) of genres and movie titles
title_genre = movies[["genres","original_title"]]
title_genre

,genres,original_title
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale
4,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II
...,...,...
45461,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",رگ خواب
45462,"[{'id': 18, 'name': 'Drama'}]",Siglo ng Pagluluwal
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",Betrayal
45464,[],Satana likuyushchiy
45465,[],Queerama